{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "doc"}]}.
{deps, [
  {protobuffs, "0.7.*", {git, "https://github.com/basho/erlang_protobuffs", {tag, "0.7.0"}}}, 
  {lager, "1.2.*", {git, "https://github.com/basho/lager", {tag, "1.2.0"}}}
]}.
